body,
html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  user-select: none;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: dodgerblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgba(87, 171, 255, 0.823)
}


@font-face {
  font-family: "komikax";
  src: url("fonts/komikax.ttf");
}

@font-face {
  font-family: "icon";
  src: url("fonts/icons.ttf");
}


@font-face {
  font-family: "mont";
  src: url("fonts/Montserrat.ttf");
}

.logo {
  position: absolute;
  width: min(300px,30%);
  margin: 2em;
  z-index: 1;
}

.body {
  height: 100%;
}

.container {
  position: absolute;
  width: 900px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.divider {
  background: white;
  width: 400px;
  height: 5px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 2px;
}

.header-bg {
  background: url(../media/header.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-text {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
  width: 100%;
  font-size: 60px;
  font-family: komikax;
  padding: 0;
  margin: 0;
  user-select: none;
  color: white;
  transition: 0.2s;
}

.header-text:hover {
  text-shadow: rgba(0, 0, 0, .8 ) 0 20px 20px;
  color: rgb(240, 240, 240);
  top: 29%;
}

.header-subtext {
  font-family: komikax;
  color: white;
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%);
  user-select: none;
  font-size: 25px;
  width: 100%;
}

/* Other */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

summary {
  display: list-item;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

progress {
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

figure {
  margin: 1em 40px;
}

img {
  border-style: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea,
optgroup {
  font: inherit;
  margin: 32;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* End extract */
html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

html {
  overflow-x: hidden;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.c-serif {
  font-family: serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

.c-wide {
  letter-spacing: 4px;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

.c-image {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
}

a {
  color: inherit;
}

.c-btn,
.c-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.c-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.c-btn,
.c-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.c-main,
#main {
  transition: margin-left 32s;
}

.c-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.c-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}

.c-bar {
  width: 100%;
  overflow: hidden;
}

.c-center .c-bar {
  display: inline-block;
  width: auto;
}

.c-bar .c-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.c-top,
.c-bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.c-top {
  top: 0;
}

.c-bottom {
  bottom: 0;
}

.c-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.c-display-topleft {
  position: absolute;
  left: 0;
  top: 0;
}

.c-display-topright {
  position: absolute;
  right: 0;
  top: 0;
}

.c-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}

.c-display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0;
}

.c-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.c-display-bmiddle {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.c-display-amiddle {
  min-width: 80%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.c-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%);
}

.c-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.c-display-topmiddle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.c-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.c-display-container:hover .c-display-hover {
  display: block;
}

.c-display-container:hover span.c-display-hover {
  display: inline-block;
}

.c-display-hover {
  display: none;
}

.c-display-position {
  position: absolute;
}

.c-circle {
  border-radius: 50%;
}

.c-round-small {
  border-radius: 2px;
}

.c-round,
.c-round-medium {
  border-radius: 4px;
}

.c-round-large {
  border-radius: 8px;
}

.c-round-xlarge {
  border-radius: 16px;
}

.c-round-xxlarge {
  border-radius: 32px;
}

.c-container,
.c-panel {
  padding: 0.01em 16px;
}

.c-panel {
  margin-top: 16px;
  margin-bottom: 16px;
}

.c-large {
  font-size: 16px !important;
}

.c-xlarge {
  font-size: 24px !important;
}

.c-xxlarge {
  font-size: 32px !important;
}

.c-left-align {
  text-align: left !important;
}

.c-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.c-black,
.c-hover-black:hover {
  color: #fff !important;
  background-color: #000 !important;
}

.c-text-white,
.c-hover-text-white:hover {
  color: #fff !important;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.button {
  background-color: rgb(255, 255, 255);
  color: dodgerblue;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.button:hover {
  color: rgba(160, 192, 223, 0.823)
}

.button2 {
  color: rgb(255, 255, 255);
  background-color: dodgerblue;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.button2:hover {
  background-color: rgb(100, 175, 250)
}

.button-freet {
  font-family: mont;
  background: white; /*#0a8aaa*/
  width: 320px;
  height: 80px;
  border-radius: 25px;
  border: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  font-size: 20px;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

.button-freet:hover {
  background: rgb(241, 241, 241);
}

.crypto-coins{
  position: absolute;
  width:1000px;
  top:100%;
  left: 50%;
  transform: translate(-50%);
}

.header-bottom{
  height: 10%;
  background-color: linear-gradient(90, white, rgba( red, green, blue, 0 ));
}

.info-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
  width: 100%;
}

.info {
  position: absolute;
  top: 50%;
  width: 90%;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
  font-family: mont;
}

.card {
  top: 5%;
  width: 30%;
  height: 300px;
  background: rgb(245, 245, 245);
  border-radius: 5px;
  user-select: none;
  text-align: center;
  cursor: default;
  position: absolute;
  transition: .15s;
}

.card:hover {
  background: white;
  top: 6%;
  color: rgb(46, 46, 46);
  text-shadow: black 5px 0 10px;
}

.card-1 {
  left: 2.5%;
}

.card-2 {
  left: 35%;
}

.card-3 {
  left: 67%;
}

.title {
  font-size: 70px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
}

.desc {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

.telegram-icon{
  font-family: icon;
}

@media (max-width: 1000px) {
  .crypto-coins {
    width: 900px;
  }
}

@media (max-width: 900px) {
  .crypto-coins {
    width: 800px;
  }
}

@media (max-width: 800px) {
  .crypto-coins {
    width: 700px;
  }
}

@media (max-width: 700px) {
  .crypto-coins {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .crypto-coins {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .crypto-coins {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .crypto-coins {
    width: 300px;
  }
}

@media (max-width: 300px) {
  .crypto-coins {
    width: 200px;
  }
}

@media (max-width: 200px) {
  .crypto-coins {
    width: 100px;
  }
}

@media (max-width: 1100px) {
  .card {
    left: 50%;
    transform: translate(-50%);
    height: 20%;
    width: 50%
  }
  
  .card-1 {
    top: -15%;
  }

  .card-2 {
    top: 6%;
  }

  .card-3 {
    top: 27%;
  }

  .card-1:hover {
    top: -14%;
  } 

  .card-2:hover {
    top: 7%;
  } 

  .card-3:hover {
    top: 28%;
  } 

  .crypto-coins {
    width: 800px;
  }
}